html, css {
    height: 100%
  }
  
  body {
    background-image: linear-gradient( darkmagenta 15%, yellowgreen 70% );
    height: 100%; position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    transition: all 0.1s;
  }
  
  div.ia21-player{
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-style: hidden;
    width: 1080px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
  
  }
  
  div.ia21-player video {
    width: 100%;
    box-shadow: 0 0 13px 5px #00000070;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: black;
}
  div.ia21-player div.controllers{
    display: flex;
    border: 3px solid;
    column-gap: 1em;
    padding-right: 1em;
    background-color: black;
    border-block-end-width: 2px;
    border-image: slice 1;
    border-left-color: #700B97;
    border-right-color: #700B97;
    border-block-end-color: #700B97;
  }
  
  div.ia21-player div.controllers button.play-pause{
    background-image: linear-gradient( yellowgreen 15%, darkmagenta 150% );;
    border: 0 none;
    border-right: 1px solid;
    cursor: pointer;
    font-size: 1em;
    padding: .1em;
    line-height: 1em;
    width: 2em;

  }
  
  div.ia21-player div.controllers div.dragbar{
    flex-grow: 1;
    position: relative;

  }
  
  div.ia21-player div.controllers div.dragbar:before{
    content: "";
    position: absolute;
    border-top: 2px solid white;
    width: 100%;
    top: calc(50% - .5px);
    cursor: pointer;
    top: calc(50% - .5px)
  }
  
  div.ia21-player div.controllers div.dragbar div.draggable{
    --percent: 0%;
    background-color: white;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: calc(50% - .25rem);
    left: calc(var(--percent) - .25rem);
    pointer-events: none;
  }
  
  div.ia21-player div.controllers div.dragbar.timeline {
    width: 55%;
  }
  
  div.ia21-player div.controllers div.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
  }